<div class="panel panel-defalut">
	<div class="panel-body">

	<H1 align="center"><%=t(:main_search_tip)%></H1>
	<br></br>
  <%= form_tag("/doctors", method: "get") do %>
    <div class="input-group" id="mainSearch">
      <input type="text" name="search" class="form-control" placeholder="<%=t(:search_tip)%>"></input>
    </div>
  <%end%>
  <br></br>
  <br></br>
  <br></br>
  </div>
</div>
